<%- include('../layouts/head')%>
</head>
<body>
    <%- include('../layouts/navigation')%>
    <main>
        <% if (cartProductsInfo.length > 0) { %>
            <ul>
                <% cartProductsInfo.forEach( productInfo => { %>
                    <li>
                        <p><%= productInfo.product.title %> (<%= productInfo.quentity %>)</p>
                        <form action="/cart-delete-item" method="post">
                            <input type="hidden" value="<%= productInfo.product.id %>" name="productId">
                            <button type="submit" class="btn">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>No products in the cart</h1>
        <% } %>
    </main>
</body>
</html>